.legend {
    font-size: 13px;
    line-height: 10px;
}

.legend table {
    border-spacing: 0px;
    border-collapse: separate;
}

.mouse-events .flot-overlay {
    cursor: crosshair;
}

.tb-legend {
    /*display: none;*/
}

tbody {
    display: flex;
    justify-content: flex-end;
}

.tb-hidden-label {
    color: gray !important;
    border-color: gray !important;
}

.tb-legend-keys td {
    font-size: 16px !important;
    border-bottom: 3px solid gray;
    border-radius: 1px;
}

.tb-legend-keys td:first-child {
    display: none;
}

tb-legend {
    padding-bottom: 0 !important;
}
