.legend {
    font-size: 13px;
    line-height: 10px;
}

.legend table {
    border-spacing: 0;
    border-collapse: separate;
}

.mouse-events .flot-overlay {
    cursor: crosshair;
}

.tb-legend-keys td:first-child span {
    height: 16px !important;
    width: 33px !important;
    border-radius: 5px;
}

/* SCROLL */
tb-legend::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
}

tb-legend::-webkit-scrollbar {
    height: 10px;
    width: 8px;
    background-color: #F5F5F5;
}

tb-legend::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #dadada;
}

tb-legend {
    width: 23%;
    border-right: 1px solid #eee;
    margin-right: 4px;
}

